@use "@styles/main" as gs;

.entity-details__nav {
  width: 100%;
  max-width: 60rem;
  margin-bottom: 0.5rem;

  & > ul {
    @include gs.flex(row, flex-end, none);
    gap: 1rem;
    color: gs.$pastel-green;

    & a {
      transition: all 1s ease;

      &:hover {
        color: gs.$middle-primary;
      }

      &.disabled {
        // TODO: Added by me for detials navigation - photos. Review for better solution
        color: gs.$light-gray !important;
        cursor: not-allowed;
        pointer-events: none;

        &:hover {
          color: gs.$light-gray; // prevent hover color change
        }
      }
    }
  }

  [data-theme="dark"] & ul {
    color: gs.$bright-turquoise;
    & a.disabled {
      // TODO: Added by me for detials navigation - photos. Review for better solution
      color: gs.$dark-gray !important;
    }
  }
}
