@use '../../global-styles/main.scss' as gs;

.button-pair {
  @include gs.flex(row, center, center);
  gap: 1rem;

  & > .review-btn {
    @include gs.glow-on-hover-button();
    margin: 3rem 0;
    font-size: 1.5rem;
    padding: 0.15rem 1.5rem;
  }
}
