.important-notice {
  width: 100%;
  max-width: 60rem;
  margin-bottom: 2rem;
  border: 2px dashed yellow;
  border-radius: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 0, 0.301);
  backdrop-filter: blur(0.25rem);
  color: black;
  text-shadow: 0 0 4px yellowgreen;

  & > summary {
    cursor: pointer;
  }
}
